<div class="address-section">
    <h2>ADD DELIVERY ADDRESS</h2>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <input placeholder="STREET" required>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5">
            <input placeholder="POSTAL CODE" required>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-4">
            <input placeholder="COMPANY NAME(OPTIONAL)" required>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2">
            <input placeholder="BUILDING NAME" required>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <input placeholder="BLOCK/HOUSE NO" required>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2">
            <input placeholder="FLOOR" required>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2">
            <input placeholder="UNIT" required>
        </div>
    </div>
</div>