<div class="address-section">
    <h2>ADD DELIVERY ADDRESS</h2>
    <div class="row">
        <div class="col-md-9">
            <input placeholder="STREET" required>
        </div>
        <div class="col-md-3">
            <input placeholder="POSTAL CODE" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <input placeholder="COMPANY NAME(OPTIONAL)" required>
        </div>
        <div class="col-md-3">
            <input placeholder="BUILDING NAME" required>
        </div>
        <div class="col-md-2">
            <input placeholder="BLOCK/HOUSE NO" required>
        </div>
        <div class="col-md-1">
            <input placeholder="FLOOR" required>
        </div>
        <div class="col-md-1">
            <input placeholder="UNIT" required>
        </div>
    </div>
</div>