<div class="address-section">
    <h2>DELIVERY ADDRESS</h2>
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-7">
            <input ng-model="billing.street" placeholder="STREET" required>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-5">
            <input ng-model="billing.postal" placeholder="POSTAL CODE" required>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-4">
            <input ng-model="billing.company" placeholder="COMPANY NAME(OPTIONAL)" required>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2">
            <input ng-model="billing.buildingName" placeholder="BUILDING NAME" required>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <input ng-model="billing.blockNumber" placeholder="BLOCK/HOUSE NO" required>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2">
            <input ng-model="billing.floor" placeholder="FLOOR" required>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2">
            <input ng-model="billing.unit" placeholder="UNIT" required>
        </div>
    </div>
</div>