<div class="contact-section">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input ng-model="billing.firstName" placeholder="FIRST NAME" required>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input ng-model="billing.lastName" placeholder="LAST NAME" required>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input type="email" ng-model="billing.emailAddress" placeholder="EMAIL ADDRESS (OPTIONAL)" required>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input ng-model="billing.contactNumber" placeholder="CONTACT NUMBER" required>
        </div>
    </div>
</div>