<div class="contact-section">
    <div class="row">
        <div class="col-md-6">
            <input placeholder="FIRST NAME" required>
        </div>
        <div class="col-md-6">
            <input placeholder="LAST NAME" required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <input placeholder="EMAIL ADDRESS(OPTIONAL)" required>
        </div>
        <div class="col-md-6">
            <input placeholder="CONTACT NUMBER" required>
        </div>
    </div>
</div>