<div class="contact-section">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input ng-model="contact.firstName" placeholder="FIRST NAME" required>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input ng-model="contact.lastName" placeholder="LAST NAME" required>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input ng-model="contact.emailAddress" placeholder="EMAIL ADDRESS (OPTIONAL)" required>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <input ng-model="contact.contactNumber" placeholder="CONTACT NUMBER" required>
        </div>
    </div>
</div>