---
layout: store
title: 'Hello'
---
<div class="wood-bg" ng-controller="StoreCtrl">
    {% include store/promotion.html %}
    <div ng-controller="StoreCtrl" class="category-nav-container">
        <div id="category-nav-container">
            <div class="container-fluid full-width">
                <ul id="category-nav">
                    {% for category in site.data.categories %}
                    <li class="col-sm-3"><a href="#">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <ul id="products">
        <li class="col-md-4" ng-repeat="product in products">
            <img ng-src="https://res.cloudinary.com/e-seafoods/image/fetch/w_332,h_280,c_fill,r_max,f_auto/[[ product.images[0] ]]"/>
            <div class="name">[[ product.name ]]</div>
            <div class="price">P[[ product.lowestPrice | number: 2 ]] / [[ product.measure ]]</div>
        </li>
    </ul>
</div>

<div id="footer">
    <div class="container">
        <div class="copyright">Servpinas Corporation &copy; All Rights Reserved</div>
        <div id="social-media-buttons">
            <a href="#" target="_blank" class="twitter"></a>
            <a href="#" target="_blank" class="fb"></a>
            <a href="#" target="_blank" class="gplus"></a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/js/debouncer.js"></script>
<script type="text/javascript" src="/js/store.js"></script>