---
layout: home
css: /css/home.css
title: Home
javascripts: >
    <script type="text/javascript" src="/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="/js/store.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.carousel').carousel({
                interval: 6000
            });
            $('.carousel-indicators').find('li').css('display','none');
            $('.carousel-inner .item:first-child').addClass('active');
        });
    </script>
---

{{ content }}
