---
layout: home
css: /css/home.css
title: Home
javascripts: >
    <script type="text/javascript" src="/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="/js/store.js"></script>
    <script type="text/javascript" src="/js/lightslider.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#highlight-slider-container').lightSlider({
                item: 1,
                slideMargin: 0,
                controls: false,
                speed: 2000,
                pause: 10000,
                auto: true,
                loop:true,
                enableDrag:false,
                pager: false
            });
        });
    </script>
---

{{ content }}
