<div class="address-section">
    <!-- use for loop :)-->
    <div class="result-container">
        <h2 class="result-header">Address</h2>
        <span class="result-header">
            UPH-G, Sen. Gil Puyat, Makati City, Philippines
        </span>
    </div>

    <div class="result-container" ng-controller="DeliveryDateCtrl">
        <h2 class="result-header">Earliest Delivery Date</h2>
        <span class="result-header">
            [[ deliveryDate | date: 'longDate' ]]
        </span>
    </div>

    <div class="result-container">
        <h2 class="result-header">Payment</h2>
        <span class="result-header">
            Paypal
        </span>
    </div>
</div>