<div class="items-ordered">
    <h2>Items You've Ordered</h2>
    <div class="row order-product" ng-show="ngCart.getTotalItems() > 0" ng-repeat="item in ngCart.getCart().items track by $index">
        <div class="col-lg-3 col-md-3 col-sm-3 product-image">
            <div class="picker-banner-container">
                <span>" [[ item.getData().selectedType.name ]] / [[ item.getData().selectedSize.size ]] "</span>
            </div>
            <img ng-src="https://res.cloudinary.com/e-seafoods/image/fetch/w_250,h_250,c_fill,r_max,f_auto/[[ item.getData().images[0] ]]"/>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 product-title">
            <ul>
                <li>[[ item.getName() ]]</li>
                <li>[[ item.getPrice() | currency:"P " ]]/KILO</li>
            </ul>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 product-picker" ng-init="product.kg = 1">
            <div class="picker-container">
                <a ng-click="item.setQuantity(-1, true)" href="" id="option-quantity-minus"><span class="glyphicon glyphicon-minus option-operator"/></a>
                <input  disabled name="quantity" id="option-quantity-value" value="[[ item.getQuantity() ]]" class="option-quantity-value" type="number" min="1"/>
                <span class="option-quantity-unit">kg</span>
                <a ng-click="item.setQuantity(1, true)" href="" id="option-quantity-plus"><span class="glyphicon glyphicon-plus option-operator"/></a>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 product-total">
            <div class="picker-container">
                <span class="option-quantity-value">[[ item.getTotal() | currency:"P " ]]/KILO</span>
            </div>
            <a ng-confirm-click="Would you like to remove [[ item.getName() ]]?" confirmed-click="ngCart.removeItemById(item.getId())">
                <span class="glyphicon glyphicon-remove product-close"></span>
            </a>
        </div>
    </div>
    <div class="row total-amount-due">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <h2>Subtotal</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span>[[ ngCart.getSubTotal() | currency:"P " ]]</span>
        </div>
    </div>
</div>