<div class="total-container">
    <div class="row subtotal-due">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h3>Subtotal</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span>[[ ngCart.getSubTotal() | currency:"P " ]]</span>
        </div>
    </div>
    <div class="row delivery-fee">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h3>Delivery Fee</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span>[[ ngCart.getShipping() | currency:"P " ]]</span>
        </div>
    </div>
    <div class="row total-due">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2>TOTAL</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span>[[ ngCart.totalCost() | currency:"P " ]]</span>
        </div>
    </div>
</div>
