<header class="hero" ng-if="true">
    <video autoplay loop width="100%">
        <source src="http://ak3.picdn.net/shutterstock/videos/3384947/preview/stock-footage-a-school-of-striped-mackerel-feeding-in-the-red-sea-egypt.mp4" type="video/mp4">
    </video>
    <div class="header-content">
        <div class="header-content-inner">
            <img class="img-responsive" src="/images/logo.png"/>
            <p>THE FRESHEST CATCH FROM DIFFERENT PARTS OF THE WORLD</p>
            <div class="page-scroll">
                <a href="#promotional">
                    <p class="shop-now">SHOP NOW!</p>
                    <span class="glyphicon glyphicon-menu-down"></span>
                </a>
            </div>
        </div>
    </div>
</header>
