<header class="hero" ng-if="true">
    <div class="header-content">
        <div class="header-content-inner">
            <img class="img-responsive" src="/images/logo.png"/>
            <p>THE FRESHEST CATCH FROM DIFFERENT PARTS OF THE WORLD</p>
            <div class="page-scroll">
                <a href="#promotional">
                    <p class="shop-now">SHOP NOW!</p>
                    <span class="glyphicon glyphicon-menu-down"></span>
                </a>
            </div>
        </div>
    </div>
</header>
