<div id="promotional" class="container-fluid full-width">
    <div class="row row-no-gutter">
        <div class="promotional-content col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="/images/promotional/crabs-promo.jpg"/>
        </div>
        <div class="promotional-content col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="/images/promotional/mussels-promo.jpg"/>
            <div class="promo-description-container">
                <div class="promo-content">
                    <span>PHP 500</span>
                    <br/>
                    <span>CASH COUPON</span>
                    <br/>
                    <span>First Time</span>
                    <br/>
                    <span>To Order?</span>
                    <br/>
                    <a href="javascript:void(0)">Click here for details</a>
                </div>
            </div>
        </div>
    </div>
</div>