<div id="promotional" class="container-fluid full-width">
    <div class="row row-no-gutter">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <ul class="owl-carousel">
                {% for bestSeller in site.data.bestSeller %}
                <li>
                    <img src="{{ bestSeller.img }}"/>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
            <ul class="owl-carousel">
                {% for promo in site.data.promo %}
                <li>
                    <img src="{{ promo.img }}"/>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>