<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">e-seafoods</a>
            <form id="search-bar" class="form-group input-group">
                <input id="search-input" type="text" class="form-control" ng-model="searchText">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </form>
        </div>
        <!--<form id="search-bar" class="navbar-form navbar-left" role="search">-->

        <!--</form>-->
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Best Sellers</a></li>
                <li><a href="#about">Our Products</a></li>
                <li>
                    <a id="cart-button" data-content-template="cart-summary.html" placement="bottom" html="true" bs-popover>
                        <ngcart-summary></ngcart-summary>
                    </a>
                    <script type="text/ng-template" id="cart-summary.html" ng-controller="CartController">
                        <div ng-controller="CartController">
                            <div class="table-responsive col-lg-12">

                                <table class="table table-striped ngCart cart">

                                    <thead>
                                    <tr>
                                        <th colspan="2">ITEMS YOU'VE ORDERED</th>
                                        <th colspan="3">
                                            <div class="price-button">
                                                <span class="price">Checkout</span>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <td>Total:</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>[[ ngCart.totalCost() | currency ]]</td>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr ng-show="ngCart.getTotalItems() === 0">
                                        <td colspan="5">
                                            <div class="alert alert-warning" role="alert">
                                                Your cart is empty
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="item in ngCart.getCart().items track by $index">
                                        <td>
                                            <div class="image-container">
                                                <img ng-src="https://res.cloudinary.com/e-seafoods/image/fetch/w_250,h_250,c_fill,r_max,f_auto/[[ item.getData()[0] ]]"/>
                                            </div>
                                        </td>
                                        <td>[[ item.getName() ]]</td>
                                        <td class="cart-summary-quantity">[[ item.getQuantity() | number ]] KG</td>
                                        <td class="cart-summary-price">[[ item.getTotal() | currency ]]</td>
                                        <td class="cross-item"><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </script>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>