<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">e-seafoods</a>
            <form id="search-bar" class="form-group input-group">
                <input id="search-input" type="text" class="form-control" ng-model="searchText">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </form>
        </div>
        <!--<form id="search-bar" class="navbar-form navbar-left" role="search">-->

        <!--</form>-->
        <div id="navbar" class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a href="#">Best Sellers</a></li>
                <li><a href="#about">Our Products</a></li>
                <!--<li ng-controller="ngCartContainer"><a href="#about">[[ ngCart.totalCost() | currency ]] </a></li>-->
                <li ng-controller="PopoverDemoCtrl">
                    <a popover-placement="bottom" popover-template="dynamicPopover.templateUrl" popover-title="[[dynamicPopover.title]]">
                        <ngcart-summary></ngcart-summary>
                    </a>
                    <script type="text/ng-template" id="myPopoverTemplate.html" ng-controller="CartController">
                        <div ng-controller="CartController">
                            <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
                                Your cart is empty
                            </div>

                            <div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

                                <table class="table table-striped ngCart cart">

                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr ng-show="ngCart.getTax()">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Tax ([[ ngCart.getTaxRate() ]]%):</td>
                                        <td>[[ ngCart.getTax() | currency ]]</td>
                                    </tr>
                                    <tr ng-show="ngCart.getShipping()">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Shipping:</td>
                                        <td>[[ ngCart.getShipping() | currency ]]</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total:</td>
                                        <td>[[ ngCart.totalCost() | currency ]]</td>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr ng-repeat="item in ngCart.getCart().items track by $index">
                                        <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

                                        <td>[[ item.getName() ]]</td>
                                        <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                                                  ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                                            [[ item.getQuantity() | number ]]&nbsp;&nbsp;
                                            <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
                                        <td>[[ item.getPrice() | currency]]</td>
                                        <td>[[ item.getTotal() | currency ]]</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </script>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>