h2
  font-size: 20px
#address
  margin-top: -100px
  width: 100%
  background: url("/images/addressbg.png")
  background-size: cover
  background-repeat: no-repeat
  .container
    font-family: Gotham-Light
    .section-title
      font-family: Gotham-Rounded-Medium
      background-position: bottom
      float: none
      margin: 200px auto 0
      background-image: url("/images/title-line.png")
      background-color: transparent
      background-repeat: no-repeat
      background-size: 50%
      border: 0
      padding: 0 5px
      font-size: 25px
      display: table
      height: 65px
    .address-section
      .row
        .billing-info
          margin: 30px 0
          input
            background-color: transparent
            width: 100%
            font-size: 16px
            border-color: transparent transparent #CBCBCB
            transition: all 500ms ease
            outline: none
            &:focus
              border-color: transparent transparent #333
    .contact-section
      margin-top: 20px
      margin-bottom: 20px
      h3
        margin: 50px 0 20px
      .row
        padding-top: 30px
        padding-bottom: 30px
        input
          background-color: transparent
          width: 100%
          font-size: 16px
          border-color: transparent transparent #CBCBCB
          transition: all 500ms ease
          outline: none
          &:focus
            border-color: transparent transparent #333
    .specific-instruction
      margin-top: 20px
      margin-bottom: 20px
      input
        background-color: transparent
        width: 100%
        font-size: 16px
        border-color: transparent transparent #CBCBCB
        transition: all 500ms ease
        outline: none
        &:focus
          border-color: transparent transparent #333
    button
      color: #333
      background-image: url(/images/cart-box.png)
      background-color: transparent
      background-repeat: no-repeat
      background-size: 100% 100%
      border: 0
      padding-top: 0
      font-size: 16px
      display: inline-block
      height: 55px
      width: 17%
      margin: 50px 0

@media (max-width: 991px)
  #address
    .container
      h3
        margin: auto -10px
      a
        display: table
        float: none
        margin: 50px auto 70px
        .proceed-button
          width: 100%


@media (max-width: 767px)
  #address
    .container
      .section-title
        margin-top: 200px
      h2
        text-align: center
      .address-section
        .row
          input
            font-size: 16px
      .contact-section
        .row
          input
            font-size: 16px
      .specific-instruction
        input
          font-size: 14px
      button
        float: none
        margin-left: auto
        margin-right: auto
        display: table
        width: 160px
