#address
  margin-top: -55px
  width: 100%
  height: 100vh
  background: url("/images/addressbg.png")
  background-size: cover
  background-repeat: no-repeat
  .container
    width: 970px
    font-family: LemonYellowSun, sans-serif
    .section-title
      background-position: bottom
      float: none
      margin: 15% auto 0
      background-image: url("/images/title-line.png")
      background-color: transparent
      background-repeat: no-repeat
      background-size: 50%
      border: 0
      padding: 0 5px
      font-size: 35px
      display: table
      height: 65px
    .row
      margin-top: 20px
      margin-bottom: 20px
      input
        background-color: transparent
        width: 100%
        font-size: 23px
        border-color: transparent transparent #ededed
        transition: all 500ms ease
        outline: none
        &:focus
          border-color: transparent transparent #333

//[class*="col-"]