.category-nav-container
  background-color: #000
  position: relative
  z-index: 1
  .sticky-wrapper
    height: 44px !important
  .category-nav-mobile
    width: 100%
    a
      padding: 10px
      color: white
      text-decoration: none
      font-size: 18px
      float: none
      display: table
      margin: 0 auto
      top: 50%
      position: relative
  .category-nav
    margin: 0
    text-align: center
    padding: 0 20px
    display: flex
    justify-content: space-between
    li
      &:hover
        background: rgba(0,0,0,0.2)
      &.active
        background: rgba(162, 162, 162, 0.3)
      cursor: pointer
      list-style: none
      padding: 10px
      display: inline-block
      text-align: center
      text-transform: uppercase
      font-family: Avenir-Book, sans-serif
      font-size: 17px
      color: #ffffff
      text-shadow: 0px 1px 3px #000

@media (min-width: 992px)
  .category-nav-container
    .category-nav-mobile
      display: none


@media (max-width: 991px)
  .category-nav-container
    background: black
    .category-nav-mobile
      display: inline-block

@media (max-width: 480px)
  .category-nav-container
    .category-nav-mobile
      a
        font-size: 16px
    .category-nav
      li
        padding: 10px 0
        font-size: 14px

@media (max-width: 768px)
  .category-nav
    display: block !important
    li
      display: block !important