h2
  font-size: 25px
h3
  font-size: 18px
#order
  margin-top: -100px
  width: 100%
  background: url("/images/addressbg.png")
  background-size: cover
  background-repeat: no-repeat
  .container
    min-height: 100vh
    font-family: Gotham-Light
    .section-title
      background-position: bottom
      float: none
      margin: 200px auto 0
      background-image: url("/images/title-line.png")
      background-color: transparent
      background-repeat: no-repeat
      background-size: 50%
      border: 0
      padding: 0 5px
      font-size: 25px
      display: table
      height: 65px
      font-family: Gotham-Rounded-Medium
    .address-section
      padding: 0 0 50px
      .section-header
        display: inline-block
        margin-left: 0
        font-size: 25px
        margin-bottom: 0
      .change-button
        color: #3DA9D5
        display: inline-block
        text-decoration: none
        font-size: 20px
        margin-left: 15px
        &:hover
          color: #3496BE
      h2
        margin-left: 15px
        font-size: 20px
      span
        font-size: 16px
        margin-top: 20px
        margin-bottom: 10px
        margin-left: 30px

    .total-container
      margin: 30px 0
      border: 1px solid #CBCBCB
      padding: 10px 20px
      .subtotal-due
        span
          display: block
          font-size: 18px
          margin: 15px 0 10px
          text-align: right
      .delivery-fee
        border-bottom: 1px solid #CBCBCB
        span
          display: block
          font-size: 18px
          margin: 15px 0 10px
          text-align: right
      .total-due
        span
          font-family: Gotham-Rounded-Medium
          display: block
          font-size: 20px
          margin: 18px 0 10px
          text-align: right
    .proceed-container
      a
        display: table
        float: none
        margin: 0 auto
        color: #333
        .proceed-button
          text-align: center
          font-family: Gotham-Rounded-Medium
          background-image: url(/images/cart-box.png)
          background-color: transparent
          background-repeat: no-repeat
          background-size: 100% 100%
          border: 0
          font-size: 20px
          display: inline-block
          height: 55px
          width: 100%
          padding: 10px 25px
          margin: 10px 0 0
  .items-ordered
    margin-bottom: 25px
    h2
      margin: 50px 0
    .order-product
      position: relative
      margin: 0
      height: 140px
      border-top: 1px solid #CBCBCB
      border-bottom: 1px solid #CBCBCB
      .product-image
        height: inherit
        .picker-banner-container
          top: 80px
          position: absolute
          width: 75%
          height: 25px
          background-color: #41b4e3
          z-index: 5
          left: 0
          right: 0
          margin-left: auto
          margin-right: auto
          span
            float: none
            display: table
            margin: 0 auto
            position: relative
            top: 48%
            transform: translateY(-50%)
            color: white
            font-size: 13px
        img
          max-width: 120px
          top: 50%
          position: relative
          transform: translateY(-50%)
          z-index: 1
      .product-title
        height: inherit
        font-size: 18px
        ul
          top: 50%
          position: relative
          transform: translateY(-50%)
          margin-bottom: 0
          padding-left: 0
          list-style: none
      .product-picker
        height: inherit
        .picker-container
          top: 50%
          position: relative
          transform: translateY(-50%)
          a
            display: inline-block
            color: #333
          input
            font-size: 1.5em
            background-color: transparent
            display: inline-block
            border: none
            text-align: center
            width: 20%
          .option-quantity-unit
            font-size: 18px
            padding-right: 5px
      .product-total
        height: inherit
        font-size: 18px
        .picker-container
          top: 50%
          position: relative
          transform: translateY(-50%)
          a
            top: 25%
            position: relative
            transform: translateY(-25%)
            display: inline-block
            font-size: 15px
            span
              padding: 0 5px
              display: inline-block
        .product-close
          position: absolute
          font-size: 15px
          right: 0
          top: 50%
          transform: translateY(-50%)
          color: #333 !important
          
    .total-amount-due
      margin: 0
      span
        display: block
        text-align: right
        margin: 50px 0
        font-size: 1.5em
        font-family: Gotham-Rounded-Medium

@media (max-width: 1200px)
  #order
    .items-ordered
      max-width: 150%
      min-width: 150%
      .order-product
        height: 135px
        .product-image
          .picker-banner-container
            width: 70%
@media (max-width: 991px) and (min-width: 768px)
  .navbar.navbar-fixed-top
    #search-bar
      float: none
  #order
    .container
      width: 100%
    .items-ordered
      .order-product
        .product-title
          font-size: 1.5em
        .product-picker
          .picker-container
            input
              font-size: 1.5em
              width: 50%
        .product-total
          font-size: 1.5em

@media (max-width: 767px)
  .navbar.navbar-fixed-top
    #search-bar
      float: none
  #order
    background-position: top center
    .container
      .section-title
        margin-top: 200px
      .address-section
        text-align: center
        span
          padding: 0px !important
      .proceed-container
        padding-bottom: 130px
      .items-ordered
        max-width: 100%
        min-width: 100%
        text-align: center
        .order-product
          padding-top: 5px
          padding-bottom: 5px
          height: auto
          .product-image
            padding: 15px 0
            .picker-banner-container
              top: 90px
              width: 150px
              right: 0
              left: 0
              margin-left: auto
              margin-right: auto
            img
              height: 120px
              top: 0px
              transform: none
          .product-title
            ul
              top: 0
              transform: none
              li
                padding: 8px 0 0
                &:first-child
                  font-size: 1.3em
          .product-picker
            .picker-container
              padding: 15px 0
              top: 0
              transform: none
              input
                width: 100px
          .product-total
            .picker-container
              padding: 15px 0
              top: 0
              transform: none

            .product-close
              top: -290px

        h2
          text-align: center
        .total-amount-due
          h2
            text-align: left


          


