#order
  margin-top: -55px
  width: 100%
  background: url("/images/addressbg.png")
  background-size: cover
  background-repeat: no-repeat
  .container
    font-family: LemonYellowSun, sans-serif
    .section-title
      background-position: bottom
      float: none
      margin: 15% auto 0
      background-image: url("/images/title-line.png")
      background-color: transparent
      background-repeat: no-repeat
      background-size: 50%
      border: 0
      padding: 0 5px
      font-size: 35px
      display: table
      height: 65px
    .result-container
      span
        font-size: 24px
        margin-top: 20px
        margin-bottom: 10px
        padding-left: 30px
    .total-container
      border: 1px solid #CBCBCB
      padding: 10px 20px
      .subtotal-due
        span
          display: block
          font-size: 20px
          margin: 15px 0 10px
          text-align: right
      .delivery-fee
        border-bottom: 1px solid #CBCBCB
        span
          display: block
          font-size: 20px
          margin: 15px 0 10px
          text-align: right
      .total-due
        span
          display: block
          font-size: 25px
          margin: 15px 0 10px
          text-align: right