#product-container
  position: relative
  margin-top: 30px
  .description-container
    background: url("/images/description-background.png")
    background-size: 100% 100%
    min-height: 100vh
    background-repeat: no-repeat
    padding: 8% 20% 0 15%
    h2
      margin-bottom: 20px
    p
      line-height: 30px
      font-size: 20px
    #product-option
      margin-top: 30px
      .option-title
        font-size: 1.5em
      label
        margin-top: 0
        font-size: 20px
        input
          margin: 5px
          transform: scale(1.3)
          position: relative
    #size-option
      margin-top: 15px
      .option-title
        font-size: 1.5em
      .option-operator
        font-size: 20px
        color: #333
      .option-size-value
        padding: 0 2% 0 5%
        font-size: 20px
      .option-size-unit
        padding: 0 5% 0 2%
        font-size: 20px
      
