<div class="container-fluid" id="product-container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 product-image">
            <div class="image-container">
                <img class="center-block img-responsive" ng-src="https://res.cloudinary.com/e-seafoods/image/fetch/w_350,h_350,c_fill,r_max,f_auto/{{ page.images[0] }}" src="https://res.cloudinary.com/e-seafoods/image/fetch/w_350,h_350,c_fill,r_max,f_auto/http://www.midafood.com/Data/Images/Fillets_album/1024x1024/54acdeb3a71f8242.jpg">
            </div>
            <div class="related-product-slider">
                {% include product/relatedProduct.html %}
            </div>
        </div>
        <div class="col-lg-7 col-md-7 product-description">
            <div class="description-container" ng-controller="PickOptionsCtrl">
                <h2>{{ page.name }}</h2>
                <p>{{ page.description }}</p>
                {% include product/pickOption.html %}
                {% include product/contact.html %}
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-1 col-md-4 col-md-offset-1 product-slider" style="display: none;">
            {% include product/relatedProduct.html %}
        </div>
    </div>
</div>