<!--Pick option-->
<div id="product-option" ng-controller="PickOptionsCtrl">
    <div data-ng-init='setProduct({{ page | jsonify }})'></div>
    <div class="row" id="picker-option">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <span class="option-title">Pick</span>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div class="dropdown">
                <a class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" dropdown-toggle>
                    [[ data.selectedType.name || "Choose Type" | capitalize ]]
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a ng-click="setSelectedType(type)" ng-repeat="type in product.types">[[ type.name | capitalize]]</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!--Choose option-->
    <div class="row" id="size-option">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <span class="option-title">Size</span>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div class="dropdown">
                <a class="btn btn-default dropdown-toggle" type="button" id="option-size" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" dropdown-toggle>
                    [[ data.selectedSize.size|| "Choose Size" | capitalize ]]
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a ng-click="setSelectedSize(size)" ng-repeat="size in data.selectedType.sizes">[[ size.size | capitalize ]]</a></li>
                </ul>
            </div>
        </div>
    </div>

<!--Quantity option-->
    <div class="row" id="quantity-option">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <span class="option-title">Quantity</span>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <a href="" id="option-quantity-minus"><span class="glyphicon glyphicon-minus option-operator"/></a>
            <input ng-model="data.kg" id="option-quantity-value" class="option-quantity-value" type="number" min="1"/>
            <span class="option-quantity-unit">kg</span>
            <a href="" id="option-quantity-plus"><span class="glyphicon glyphicon-plus option-operator"/></a>
        </div>
    </div>

<!--Price-->
    <div class="row" id="product-price">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <span class="option-title">Price</span>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <span class="product-price">P [[ calculateTotal() | number: 2 ]]</span>
        </div>
    </div>
</div>