<div id="product-option">
    <div class="row" id="picker-option">
        <div class="col-md-5">
            <span class="option-title">Pick</span>
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-5">
                    <label class="radio">
                        <input type="radio" name="pickerOption" id="picker1" value="option1"> Frozen
                    </label>
                </div>
                <div class="col-md-7">
                    <label class="radio">
                        <input type="radio" name="pickerOption" id="picker2" value="option2"> Live
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="size-option">
        <div class="col-md-5">
            <span class="option-title">Choose Size</span>
        </div>
        <div class="col-md-7">
            <a><span class="glyphicon glyphicon-minus option-operator"/></a>
            <span class="option-size-value">1000</span>
            <span class="option-size-unit">gms/pc</span>
            <a><span class="glyphicon glyphicon-plus option-operator"/></a>
        </div>
    </div>
</div>