<!--Pick option-->
<div id="product-option">
    <div class="row" id="picker-option">
        <div class="col-lg-5 col-md-5">
            <span class="option-title">Pick</span>
        </div>
        <div class="col-lg-7 col-md-7">
            <div class="row">
                <div class="col-lg-5 col-md-5">
                    <input type="radio" checked value="1" id="radio1" name="option-pick">
                    <label class="radio circle" for="radio1">
                        <span class="big">
                            <span class="small"></span>
                        </span>Fresh
                    </label>
                </div>
                <div class="col-lg-7 col-md-7">
                    <input type="radio"  value="two" id="radio2" name="option-pick">
                    <label class="radio circle" for="radio2">
                        <span class="big">
                            <span class="small"></span>
                        </span>Live
                    </label>
                </div>
            </div>
        </div>
    </div>

<!--Choose option-->
    <div class="row" id="size-option">
        <div class="col-lg-5 col-md-5">
            <span class="option-title">Size</span>
        </div>
        <div class="col-lg-7 col-md-7">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Choose Size
                    <span class="glyphicon glyphicon-triangle-bottom"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="javascript:void(0)">Large</a></li>
                    <li><a href="javascript:void(0)">Medium</a></li>
                    <li><a href="javascript:void(0)">Small</a></li>

                </ul>
            </div>
        </div>
    </div>

<!--Quantity option-->
    <div class="row" id="quantity-option">
        <div class="col-lg-5 col-md-5">
            <span class="option-title">Quantity</span>
        </div>
        <div class="col-lg-7 col-md-7">
            <a href="javascript:void(0)"><span class="glyphicon glyphicon-minus option-operator"/></a>
            <span class="option-quantity-value">1000</span>
            <span class="option-quantity-unit">kg</span>
            <a href="javascript:void(0)"><span class="glyphicon glyphicon-plus option-operator"/></a>
        </div>
    </div>

<!--Price-->
    <div class="row" id="product-price">
        <div class="col-lg-5 col-md-5">
            <span class="option-title">Price</span>
        </div>
        <div class="col-lg-7 col-md-7">
            <span class="product-price">₱ 400.00</span>
        </div>
    </div>
</div>