<div class="related-products">
    <h3 class="text-center">RELATED PRODUCT</h3>
    <ul id="product-img-slider">

        <li class="text-center">
            <a href="javascript:void(0)">
               <img class="center-block" ng-src="https://res.cloudinary.com/e-seafoods/image/fetch/w_350,h_350,c_fill,r_max,f_auto/http://www.midafood.com/Data/Images/Fillets_album/1024x1024/54acdeb3a71f8242.jpg" src="https://res.cloudinary.com/e-seafoods/image/fetch/w_350,h_350,c_fill,r_max,f_auto/http://www.midafood.com/Data/Images/Fillets_album/1024x1024/54acdeb3a71f8242.jpg">
                <h4>KING CRAB CLUSTER LEGS</h4>
            </a>
        </li>
        <li class="text-center">
            <a href="javascript:void(0)">
                <img ng-src="https://res.cloudinary.com/e-seafoods/image/fetch/w_250,h_250,c_fill,r_max,f_auto/http://www.midafood.com/Data/Images/Crustaceans_album/1024x1024/54acdd8e32c8f851.jpg" src="https://res.cloudinary.com/e-seafoods/image/fetch/w_250,h_250,c_fill,r_max,f_auto/http://www.midafood.com/Data/Images/Crustaceans_album/1024x1024/54acdd8e32c8f851.jpg">
                <h4>KING CRAB CLUSTER LEGS</h4>
            </a>
        </li>
        <li class="text-center">
            <a href="javascript:void(0)">
                <img ng-src="https://res.cloudinary.com/e-seafoods/image/fetch/w_250,h_250,c_fill,r_max,f_auto/http://www.midafood.com/Data/Images/Special_album/1024x1024/54ace5b24635a495.JPG" src="https://res.cloudinary.com/e-seafoods/image/fetch/w_250,h_250,c_fill,r_max,f_auto/http://www.midafood.com/Data/Images/Special_album/1024x1024/54ace5b24635a495.JPG">
                <h4>KING CRAB CLUSTER LEGS</h4>
            </a>
        </li>
        <li class="text-center">
            <a href="javascript:void(0)">
                <img ng-src="https://res.cloudinary.com/e-seafoods/image/fetch/w_250,h_250,c_fill,r_max,f_auto/http://www.midafood.com/Data/Images/Mollusk_album/1024x1024/54ace0ef8b582232.jpg" src="https://res.cloudinary.com/e-seafoods/image/fetch/w_250,h_250,c_fill,r_max,f_auto/http://www.midafood.com/Data/Images/Mollusk_album/1024x1024/54ace0ef8b582232.jpg">
                <h4>KING CRAB CLUSTER LEGS</h4>
            </a>
        </li>
    </ul>
</div>