<div class="related-products" ng-controller="StoreCtrl">
    <h3 class="text-center">RELATED PRODUCT</h3>
    <!--<input ng-model="category">-->
    <ul class="product-img-slider">
        <li ng-repeat="product in products | filter: '{{ page.categories[0] }}'" class="text-center" ng-if="product.categories">
            <a ng-href="[[ product.url ]]">
                <img ng-src="https://res.cloudinary.com/e-seafoods/image/fetch/w_350,h_350,c_fill,r_max,f_auto/[[ product.images[0] ]]"/>
                <h4>[[ product.name ]]</h4>
            </a>
        </li>
    </ul>
</div>